/* src/assets/styles/page.header.scss */

.header {
  display: flex;
  flex-grow: 3;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  .social-medias {
    display: flex;
    flex-grow: 1;
  }
  .logo {
    margin: 0 auto;
    flex-grow: 1;
  }
  .nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    .nav-list {
    display: flex;
      .nav-item {
        color: black;
        list-style: none;
        margin:  0 20px;
      }
    }
  }
}


.mobile-menu-trigger {
  display: none; /* Ocultar el botón en pantallas grandes */
  /* Estilos para el botón de activación del menú móvil */
}

@media (max-width: 768px) {
  .mobile-menu-trigger {
    display: block; 
  }
  .header {
    .nav {
      display: none; 
    }
    .nav {
      &.open {
        display: block;
      }
    }
  }
  
}
