.card {    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    width: 100%;     
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: translateY(-5px);
    }
  
    &-title {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    &-paragraph {
      font-size: 16px;
      color: #666;
      line-height: 1.5;
    }
  }
  
  .card {
    background-color: #f6bdd4;
  }
  
  .card {
    background-color: #b6d7ea;
  }
    
  
  .card {
    background-color: #d5bad7;
  }